{% extends 'blogs/base.html' %}
{% block content %}
<div class="recent-posts section">
	<div class="posts">
		{% for post in posts %}
			<div class="post">
				<div class="post-header">
					<div class="meta">
						<div class="date">
							<span class="day">{{ post.pub_date|date:"d" }}</span>
					<span class="rest">{{ post.pub_date|date:"M Y" }}</span>
						</div>
					</div>
					<div class="matter">
						<h4 class="title small">
							<a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a>
						</h4>
						<span class="description">
							{{ post.intro }}
						</span>
					</div>
				</div>
			</div>
		{% endfor %}		

			
<ul class="pagination">
<li class="page-item page-prev">

</li>
<li class="page-item page-next">

<a href="/page/2/" class="page-link" aria-label="Next"><span aria-hidden="true">Next page →</span></a>

</li>
</ul>


	</div>
</div>

{% endblock %}