{% extends 'blogs/base.html' %}
{% block content %}
<div class="recent-posts section">
	<h2 class='page-title'>Post</h2>
	<div class="posts">
			<div class="post">
				<div class="post-header">
					<div class="meta">
						<div class="date">
							<span class="day">11</span>
					<span class="rest">Apr 2021</span>
						</div>
					</div>
					<div class="matter">
						<h4 class="title small">
							<a href="/posts/gunicorn-running/">03 Gunicorn 运行</a>
						</h4>
						<span class="description">
							
								## 基本用法
```shell
gunicorn [OPTIONS] [WSGI_APP]
```
这里的WSGI_APP一般格式是模块名称加上变量名称。在20.1.0这个版本后，这个地方变成了一个config文件。
举例来说：文件名为t...
							
						</span>
					</div>
				</div>
			</div>		

			
<ul class="pagination">
<li class="page-item page-prev">

</li>
<li class="page-item page-next">

<a href="/page/2/" class="page-link" aria-label="Next"><span aria-hidden="true">Next page →</span></a>

</li>
</ul>


	</div>
</div>

{% endblock %}