{% extends 'blogs/base.html' %}
{% block content %}
<div class="recent-posts section">
	<h2 class='page-title'>Post</h2>
	<div class="posts">
		{% for post in page_obj %}
			<div class="post">
				<div class="post-header">
					<div class="meta">
						<div class="date">
							<span class="day">{{ post.pub_date|date:"d" }}</span>
					<span class="rest">{{ post.pub_date|date:"M Y" }}</span>
						</div>
					</div>
					<div class="matter">
						<h4 class="title small">
							<a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a>
						</h4>
						<span class="description">
							{{ post.intro }}
						</span>
					</div>
				</div>
			</div>
		{% endfor %}		

			
<ul class="pagination">
<li class="page-item page-prev">
	{% if page_obj.has_previous %}
	<a href="{% url 'blogs:page' page_obj.previous_page_number %}" class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev page</span></a>
    {% endif %}
</li>
<!-- <li class="page-item">
	Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</li> -->
<li class="page-item page-next">
	{% if page_obj.has_next %}
<a href="{% url 'blogs:page' page_obj.next_page_number %}" class="page-link" aria-label="Next"><span aria-hidden="true">Next page →</span></a>
{% endif %}
</li>
</ul>


	</div>
</div>

{% endblock %}