
{% extends 'blogs/base.html' %}
{% block content %}
	<div class="post">
			<div class="post-header">
				
					<div class="meta">
						<div class="date">
							<span class="day">{{ post.pub_date|date:"d" }}</span>
							<span class="rest">{{ post.pub_date|date:"M Y" }}</span>
						</div>
					</div>
				
				<div class="matter">
					<h1 class="title">{{ post.title }}</h1>
				</div>
			</div>
					
			<!-- <div class="markdown"> -->
				{{ post.body }}
			<!-- </div> -->

			<div class="tags">
					
						<ul class="flat">
							
							<li>{% for tag in tags %}<a href="{% url 'blogs:tagdetail' tag.id %}">{{ tag.name }}</a>{% endfor %}</li>
							
						</ul>
				
		</div></div>
	</div>
{% endblock %}

